* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Mclaren", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  padding: 1rem;
}
@media (min-width: 880px) {
  body {
    padding: 3rem;
  }
}

h3 {
  font-family: Syncopate, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  background: #000;
  color: #fff;
  letter-spacing: 0.2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  box-shadow: 0 -6px 0 0 #333, 0 6px 0 0 #333;
}
@media (min-width: 550px) {
  h3 {
    font-size: 2.5rem;
  }
}

span.allergen {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  font: 800 0.8rem Syncopate;
  padding-top: 4px;
  border: 2px solid #04110f;
  margin-top: 4px;
  color: green;
  background: #fdffff;
}
span.allergen:not(:first-child) {
  margin-left: -2px;
}
span.allergen.eggs {
  background: #931a47;
}
span.allergen.wheat {
  background: #e88c30;
}
span.allergen.dairy {
  background: #009688;
}
span.allergen.sea {
  background: #ca3101;
}

header {
  display: grid;
  grid-template-columns: min-content 2fr 1.3fr;
}

.name {
  display: grid;
  grid: repeat(1, 15rem)/repeat(1, 15rem);
  font-family: Syncopate, sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  border: 6px solid #04110f;
  border-width: 6px 6px 0;
  text-align: center;
  grid-column: span 3;
  background:  #fff;
  justify-content: center;
}
.name img {
  width: 100%;
  height: auto;
  background:  #fff;
}
@media (min-width: 550px) {
  .name {
    grid-column: span 1;
    border-right: none;
    padding-left: 17px;
    padding-bottom: 17px;
    padding-top: 17px;
  }
}
.name span {
  padding-top: 0.5rem;
}

.opening-hours {
  background: ##fff;
  color: #111010;
  border: 6px solid #04110f;
  border-width: 6px 6px 0;
  grid-column: span 3;
  padding: 1rem 1.6rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.1;
}
@media (min-width: 550px) {
  .opening-hours {
    grid-column: span 2;
    border-width: 6px 6px 0 0;
  }
}
@media (min-width: 880px) {
  .opening-hours {
    grid-column: span 1;
    border-width: 6px 0 0;
  }
}
@media (min-width: 1200px) {
  .opening-hours {
    font-size: 1.8rem;
  }
}

.location {
  grid-column: 1/-1;
  color: #fff;
  text-align: center;
  padding: 0.6rem;
  border: 1px solid #04110f;
  border-width: 6px 6px 0px 6px;
  background: #949c9d;
}
.location p:nth-child(1) {
  font-family: Syncopate;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0 0.5rem 0.5rem;
}
@media (min-width: 1400px) {
  .location p:nth-child(1) {
    font-size: 1.6rem;
  }
}
@media (min-width: 550px) {
  .location {
    display: flex;
    align-items: center;
  }
  .location p:nth-child(1) {
    margin: 0.3rem 0.8rem 0.3rem 0.3rem;
  }
}
@media (min-width: 880px) {
    .location {
        border-width: 6px 6px 0px 3px;
        grid-column: 3/4;
    }
}

.legend {
  border: 6px solid #000;
  border-width: 0 6px 6px 0;
  background: repeating-linear-gradient(90deg, transparent 0px, transparent 5px, #fff 5px, #fff 10px);
}
.languages {
  background: unset;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
}
@media (min-width: 880px) {
  .legend {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-width: 6px;
  }

  .languages{
    justify-content: center;
  }
}

.legend__item {
  display: block;
  background: #fff;
}
.languages .legend__item {
  display: block;
  background: none;
  height: 3em;
  padding-right: 5px;
  margin-top: 2px;
}
.languages .legend__item img {
  width: 100%;
  height: 100%;
}
.legend__item span {
  display: inline-block;
  height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 20px 12px 12px;
  flex: auto;
}
.legend__item i {
  display: inline-block;
  width: 55px;
  height: 45px;
  font-family: Syncopate, sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  line-height: 2.3;
  border: 6px solid #04110f;
  border-width: 0 6px;
  color: #2f2f2f;
}
.legend__item:nth-child(1) {
  color: #000;
}
.legend__item:nth-child(1) i {
  background: #fff;
}
.legend__item:nth-child(2) {
  color: #931a47;
}
.legend__item:nth-child(2) i {
  background: #931a47;
}
.legend__item:nth-child(3) {
  color: #e88c30;
}
.legend__item:nth-child(3) i {
  background: #e88c30;
}
.legend__item:nth-child(4) {
  color: #009688;
}
.legend__item:nth-child(4) i {
  background: #009688;
}
.legend__item:nth-child(5) {
  color: #ca3101;
}
.legend__item:nth-child(5) i {
  background: #ca3101;
}

.item__desc {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 8px;
}
.item__price {
  grid-row: 1;
  grid-column: 2;
}
.item__description, .item__calories {
  margin-bottom: 0.3rem;
  font-family: Open Sans;
  color: #444;
  font-size: 1.1rem;
}
.item__description, .item__allergens {
  grid-column: 1/-1;
}
.item__name, .item__price {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.menu {
  border: 6px solid #04110f;
  border-width: 0 6px 6px;
}
@media (min-width: 1200px) {
  .menu {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
  }
  .menu .iced {
    grid-column: 1/4;
    grid-row: 1/4;
    border-right: 6px solid #04110f;
  }
  .menu .hot {
    grid-column: 4/5;
  }
  .menu .blended {
    grid-column: 1/4;
    grid-row: 4/6;
    border: 6px solid #04110f;
    border-width: 6px 6px 0 0;
  }
  .menu .merch {
    grid-column: 4/5;
    grid-row: 3/5;
    align-self: flex-start;
  }
  .menu .menu-download {
    grid-column: 4/5;
    grid-row: 5/6;
  }
}

@media (min-width: 550px) {
  .iced {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    grid-auto-flow: dense;
    align-items: flex-start;
  }
  .iced h3 {
    grid-column: 1/-1;
  }
}
@media (min-width: 1500px) {
  .iced {
    grid-column-gap: 20px;
  }
}
.iced .item {
  position: relative;
  padding: 2rem 2rem;
}
@media (min-width: 1200px) {
  .iced .item {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .iced .item__desc {
    flex: 1;
    padding-left: 1rem;
  }
  .iced .item__image {
    flex: 0 0 180px;
  }
}
.iced .item__image {
  position: relative;
  max-width: 200px;
}
.iced .item__image img {
  width: 100%;
}
.iced .item__image:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, transparent, #e2dccc);
}

.hot {
  padding-bottom: 1rem;
}
.hot .item {
  padding: 1rem 2rem;
}
.hot h3 {
  margin-bottom: 0.8rem;
}

.merch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 1.5rem;
}
.merch h3 {
  width: 100%;
  margin-bottom: 1rem;
}
.merch .item {
  flex: 1 1 50%;
  min-width: 16em;
  padding: 0.5rem 2rem;
}
.merch .item__image {
  text-align: center;
}
.merch .item img {
  max-width: 170px;
}
.merch .item__name, .merch .item__price {
  margin-top: 1rem;
}

.blended {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem;
}
.blended h3 {
  grid-column: 1/-1;
  margin-bottom: 1rem;
  transform: translate(-1rem, -1rem);
  width: calc(100% + 2rem);
  margin-left: 0;
}
@media (min-width: 1500px) {
  .blended {
    grid-template-columns: min-content repeat(4, 1fr);
  }
  .blended h3 {
    grid-column: 1/2;
    grid-row: 1/4;
    writing-mode: tb-rl;
    transform: translate(-1rem, -1rem) rotate(-180deg);
    width: calc(100%);
    height: calc(100% + 2rem);
    padding-bottom: 2rem;
    box-shadow: 0 -6px 0 0 #333, 0 6px 0 0 #333, -6px 0 0 0 #04110f;
    text-align: right;
  }
}
.blended .item {
  padding: 1rem;
}
.blended .item__image {
  text-align: center;
}
.blended .item img {
  width: 90%;
  max-width: 160px;
}
.blended .item__name, .blended .item__price {
  margin-top: 1rem;
}

.menu-download {
  display: block;
  background: #000;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-family: Syncopate;
  font-weight: 700;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  box-shadow: 0 0 0 6px #04110f;
}
.menu-download:hover {
  background: #04110f;
}
@media (min-width: 550px) {
  .menu-download {
    padding: 2rem 4rem;
  }
}

footer {
  margin-top: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.3rem;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
footer p {
  width: 100%;
  margin-bottom: 1rem;
}
footer .social-item {
  display: inline-block;
}
footer .social-item i {
  display: inline-block;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  line-height: 2;
  color: #e2dccc;
}
footer .social-item i img {
  width: 100%;
  height: 100%;
}
footer .social-item:nth-child(2) {
  color: #00acc1;
}
footer .social-item:nth-child(2) i {
  background: #00acc1;
}
footer .social-item:nth-child(3) {
  color: #009688;
}
footer .social-item:nth-child(3) i {
  background: #009688;
}
footer .social-item:nth-child(4) {
  color: #ca3101;
}
footer .social-item:nth-child(4) i {
  background: #ca3101;
}
footer .social-item:hover {
  color: #04110f;
}
footer .social-item:hover i {
  background: #04110f;
}
@media (min-width: 550px) {
  footer {
    font-size: 1.5rem;
  }
  footer p {
    flex: 1;
    margin: 0;
  }
}

.other > .item {
    padding: 1rem 2rem;
}
@media (min-width: 880px) {
  footer .social-item {
    margin: 0rem 0 0 1rem;
  }
}


@media (min-width: 1200px) {
    .other h3 {
        grid-column: 1/1;
        text-align: center;
        margin-top: 0;
    }
}


.opening-hours {
    display: grid;
    grid-gap: 0px;
    grid-row: ;
    grid-row: ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.opening-hours > .message {
    text-transform: initial;
}

.opening-hours > div:nth-child(1) {
    grid-row: 1;
}

.opening-hours > .message:nth-child(2) {
    grid-row: 3;
}

.opening-hours > .message:nth-child(3) {
    grid-row: 4;
}

@media (min-width: 550px) {
    .opening-hours {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }



    .opening-hours > div:nth-child(1) {
        grid-row: 3;
    }

    .opening-hours > .message:nth-child(2) {
        grid-row: 6;
    }

    .opening-hours > .message:nth-child(3) {
        grid-row: 7;
    }
}
